@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

body {
  background: #000;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  color: rgb(235, 235, 235);
  font-family: "Architects Daughter", cursive;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin: 1em 0 0 0;
  font-size: 3rem;
  text-align: center;
}

h2 {
  margin-bottom: 2em;
  text-align: center;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;

  &-logo {
    height: 20vmin;
    pointer-events: none;
    margin-bottom: 1em;

    @media (prefers-reduced-motion: no-preference) {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  &-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 2em;
    box-sizing: border-box;
  }

  &-link {
    color: #61dafb;
  }
}

.radio {
  max-width: 90%;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  margin: 0 auto;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
  font-size: 1.2rem;

  span {
    margin: 0.5em;
    border: 1px solid #30aa43;
    background: #eb3b3b;
    border-radius: 30px;
    padding: 0.5em 1em;
    transition: background 0.3s ease;

    &:hover {
      cursor: pointer;
      background: linear-gradient(to bottom right, #f4f409, #000000);
    }
  }

  .selected {
    background: linear-gradient(to bottom right, #5ef041, #1c1b1b);
  }
}

.stations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  justify-items: center;
}

.station {
  font-size: 1.2rem;
  border: 1px solid rgb(195, 78, 11);
  border-radius: 28px;
  background-color: #2d2d2d;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
  width: 1142px;
  margin: 0 auto;
  max-width: 250px;
  box-sizing: border-box;

  &:hover {
    border-color: #ff0000;
    transform: scale(2);
    text-decoration: none;
    color: #17d70d;
  }

  .stationName {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    width: 100%;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      border: 2px solid rgb(211, 0, 0);
      margin-right: 0.5em;
    }
  }

  .name {
    text-align: center;
    flex: 1;
    color: #17d70d;
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    position: relative;
  }
}

audio {
  width: 100%;
}

.rhap_container.player {
  background-color: rgb(39, 12, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 10px;

  .rhap_stacked .rhap_controls-section {
    margin-top: 0 !important;
  }

  .rhap_controls-section {
    .rhap_volume-controls {
      justify-content: center;
    }

    .rhap_main-controls button[aria-label="Play"] svg path {
      fill: rgb(235, 235, 235) !important;
    }

    .rhap_main-controls button[aria-label="Pause"] svg path {
      fill: #e36bae !important;
    }
  }
}

.header {
  background-color: #1c1c1c;
  background-image: url(./assets/react.svg);
  color: #f4f4f4;
  width: 100%;
  text-align: center;
  padding: 1.5em 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 50px;
 
}

.footer {
  background-color: #1c1c1c;
  color: #aaa;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  margin-top: auto;
 border-radius: 10px;
  font-size: 1rem;
}

.footer p {
  margin: 0;
  line-height: 1.5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .filters span {
    padding: 0.5em;
  }

  .stations {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .station {
    max-width: 200px;
  }
}
